<!DOCTYPE html">
<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<title>Pawel Pluskota - MongoDB</title>
<link rel="stylesheet" type="text/css" media="screen" href="style.css" />

</head>
<body>

<div id="container">
	<div id="intro">
		<div id="pageHeader">
			<h1><span>Pawel Pluskota - MongoDB</span></h1>
			<h2><span>Biblioteka</span></h2>
		</div>


		<div id="preamble">
			<h3><span>Czym jest node.js?</span></h3>
			<p class="p1"><span>Najprościej rzecz ujmując, node.js jest platformą, która pozwala uruchomić kod JavaScript. Wszystko dzięki temu, że zbudowana jest na tym samym silniku JS, który używany jest choćby w Google Chrome – mowa o V8. Sama możliwość uruchomienia skryptów JavaScript w innym środowisku niż przeglądarka byłaby jednak mało atrakcyjna. Siła Node.js tkwi w jego modułach. Oferuje on ich kilkadziesiąt, dzięki którym możesz zbudować bardzo ciekawe aplikacje. Co za tym idzie, masz np. do wyboru moduł HTTP, dzięki którym obsłużysz wszystkie zapytania HTTP, tworząc serwer www. Dostępny jest też moduł File System, dzięki któremu dostaniesz się do systemu plików. Dzięki Bufferowi obsłużysz dane binarne. I tak dalej. Jest tego naprawdę sporo i warto się temu przyjrzeć. Gwoli sprawiedliwości należy dodać, że dokumentacja node.js to pięta achillesowa tego projektu, choć pocieszać można się, że na początku było z tym jeszcze gorzej. Co więcej, dzięki globalnej bibliotece modułów npm, każdy może łatwo zainstalować niestandardowe moduły np. poprzez npm install nazwaModulu, jak i również dodać swoje produkcje do niej.</span></p>
		</div>
	</div>

	<div id="supportingText">
    <div id="explanation">
			<h3><span>Czym jest MongoDB?</span></h3>
			<p class="p1"><span>otwarty, nierelacyjny system zarządzania bazą danych napisany w języku C++. Charakteryzuje się dużą skalowalnością, wydajnością oraz brakiem ściśle zdefiniowanej struktury obsługiwanych baz danych. Zamiast tego dane składowane są jako dokumenty w stylu JSON, co umożliwia aplikacjom bardziej naturalne ich przetwarzanie, przy zachowaniu możliwości tworzenia hierarchii oraz indeksowania.</span></p>
		</div>
		<div id="footer">
Copyright © 2017 Pawel Pluskota
		</div>

	</div>

	<div id="linkList">
		<div id="linkList2">
			<div id="lselect">
				<ul>
					<li><a href="/projects">P R O J E K T Y</a></li>
				</ul>
			</div>
	</div>
	</div>
</div>
</body>
</html>
